{% extends "::base.html.twig" %}

{% block title %}AppBundle:RecettePosologie:recettePosologie{% endblock %}

{% block body %}
<h1>Welcome to the RecettePosologie:recettePosologie page</h1>
{{form(monFormulaire)}}
{% endblock %}
