{% extends "::base.html.twig" %}

{% block title %}AppBundle:Inscription:inscription{% endblock %}

{% block body %}
<h1>Welcome to the Inscription:inscription page</h1>
{{form(monForm)}}
{% endblock %}
